@media screen and (max-width: 928px){
  #contact-us{
    .contact-us-main-rectangle{
      .contact-us-main-form{
        display: flex;
        flex-direction: column;
        align-items: center;

        .contact-us-name-input{
          margin-bottom: 10px;
          height: 40px;
          width: 50%;
          margin-right: 0;
        }
        .contact-us-phone-input{
          margin-bottom: 10px;
          height: 40px;
          width: 50%;
          margin-right: 0;
        }
        .contact-us-email-input{
          height: 40px;
          width: 50%;
        }
      }

      .contact-us-btn{
        width: 150px;
        height: 40px;
      }
    }
  }
}